@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

li {
    @apply list-none;
}

.nav {
    @apply md-lg:hidden text-slate-500 text-xl flex items-center justify-center gap-5;
}
.nav-item {
    @apply relative inline-block cursor-pointer hover:text-blue-500 font-bold;
}

.nav-item::before {
    content: "";
    @apply absolute bottom-[-10px]  left-0 h-0.5 bg-blue-500;
    width: 0;
    transition: width 0.3s ease-in-out;
}

.nav-item:hover::before {
    width: 100%;
}

.overlay {
    @apply fixed duration-200 transition-all  hidden md-lg:flex justify-end w-screen h-screen bg-[rgba(0,0,0,0.5)] top-0 left-0 z-20;
}

.nav-sidebar {
    @apply text-slate-500 text-xl flex flex-col items-start justify-start mt-6;
}

.sidebar {
    @apply w-[300px] z-[9999] transition-all duration-500 fixed overflow-y-auto bg-white h-screen py-6 px-8;
}
